/* =======================================================
GLOBAL STYLES
======================================================= */
:root {

    /* Style Guide-Color */
    --primary-background: #fdf8f7;
    --secondary-background: #f2ebe9;
    --accent-background: #610e03;
    --primary-text: #1c0a08;
    --secondary-text: #8c5d58;
    --card-background-color: #ffffff;
    --card-border: #bfacaa;
    --nav-bar-background: #1c0a08;
    --button-background: #610e03;
    --button-border: #610e03;
    --footer-background: #1c0a08;

    /* Font Families */
    --heading-font: "Playfair Display", serif;
    --body-text: "Lora", serif;

    /* Font Sizes */
    --h1-heading-size: 3rem;
    --h2-heading-size: 1.75rem;
    --h3-heading-size: 1.25rem;
    --body-standard-size: 1.15rem;
    --button-text-size: 1.25rem;
    --nav-font-size: 1.125rem;

    /* Line Heights */
    --h1-line-height: 3.5rem;
    --h2-line-height: 2.25rem;
    --h3-line-height: 1.625rem;
    --body-standard-line-height: 1.625rem;
    --nav-line-height: 1.75rem;

    /* Font Weights */
    --playfair-display-sc-regular: 400;
    --playfair-display-sc-bold: 700;
    --playfair-display-sc-black: 900;
    --playfair-display-sc-regular-italic: 400;
    --playfair-display-sc-bold-italic: 700;
    --playfair-display-sc-black-italic: 900;
    --lora-regular: 400;
    --lora-medium: 500;
    --lora-semibold: 600;
    --lora-bold: 700;
}

/* =======================================================
MOBILE STYLES
======================================================= */
html,
body {
    scroll-behavior: smooth;
    max-width: 500px;
    margin: 0;
}

/* Nav Bar */
header {
    background-color: var(--accent-background);
}

nav {
    display: flex;
    padding: 30px 0px 60px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-background);
    margin: 0 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--body-text);
    font-size: var(--nav-font-size);
    font-weight: var(--lora-regular);
    line-height: var(--nav-line-height);
    color: white;
}

nav ul li a {
    text-decoration: none;
}

.cta-link {
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    padding: 10px;
    border-radius: 20px;
}

/* Header */
.header-content {
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-heading-size);
    line-height: var(--h1-heading-size);
    font-weight: var(--playfair-display-sc-bold-italic);
    margin: 0 10px 30px;
    color: white;
}

.tagline,
.job-intro {
    font-family: var(--body-text);
    font-size: var(--body-standard-size);
    line-height: var(--body-standard-line-height);
    font-weight: var(--lora-semibold);
    color: white;
    margin: 0 10px 30px;
}

aside {
    display: none;
}

/* Projects */
.projects h2 {
    margin: 80px 0 20px;
    font-family: var(--heading-font);
    font-size: var(--h2-heading-size);
    line-height: var(--h2-line-height);
    font-weight: var(--playfair-display-sc-black-italic);
    text-align: center;
}

.project-card {
    text-align: center;
}

img {
    width: 100%;
}

.project-title {
    font-family: var(--heading-font);
    font-size: var(--h3-heading-size);
    line-height: var(--h3-line-height);
    text-align: center;
}

.project-info {
    padding-bottom: 30px;
    font-family: var(--body-text);
    font-size: var(--body-standard-size);
    line-height: var(--body-standard-line-height);
    font-weight: var(--lora-regular);
    text-align: start;
    padding: 10px;
}

.project-tags {
    padding-bottom: 40px;
    font-family: var(--body-text);
    font-size: var(--body-standard-size);
    line-height: var(--body-standard-line-height);
    font-weight: var(--lora-regular);
    text-align: start;
    padding: 10px;
}

.project-tags li {
    align-items: start;
    margin: 10px 0;
    list-style: none;
    font-family: var(--body-text);
    font-size: var(--body-standard-size);
    line-height: var(--body-standard-line-height);
    font-weight: var(--lora-regualr);
}

.project-tags li span {
    font-weight: var(--lora-bold);
}

.project-link {
    display: inline-block;
    text-align: center;
    background-color: var(--button-background);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 40px;
}

/* Skills */
.skills {
    background-color: var(--secondary-background);
}

.skills h2 {
    margin: 60px 0 40px;
    font-family: var(--heading-font);
    font-size: var(--h2-heading-size);
    line-height: var(--h2-line-height);
    font-weight: var(--playfair-display-sc-black-italic);
    text-align: center;
}

.skills h3 {
    margin-bottom: 20px;
    font-family: var(--heading-font);
    font-size: var(--h3-heading-size);
    line-height: var(--h3-line-height);
    font-weight: var(--playfair-display-sc-black-italic);
    text-align: center;
}

.frontend-container,
.design-container,
.tooling-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: 10px 0;
    list-style: none;
    padding: 10px;
    gap: 1rem;
    row-gap: 1rem;
}

.front,
.design,
.tool {
    list-style: none;
    padding: 4px 12px;
    border-radius: 999px;
    background-color: #e0e7ff;
    color: #3730a3;
    font-family: var(--body-text);
    font-size: var(--body-standard-size);
    line-height: var(--body-standard-line-height);
    font-weight: var(--lora-regular);
}

/* =======================================================
DESKTOP STYLES
========================================================*/
@media (min-width: 1024px) {

    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}